@import url(../components-css/nullstyle.css);

.wrapper {
    min-height: 390px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #D9D9D9;
}
.header__logo {
    display: flex;
    justify-content: center;
}
.hlogo {
    margin-top: 32px;
    margin-bottom: 10px;
    display: inline-block;
}

.main {
    flex: 1;
    background-color: #8e8e8e;
}

.main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}
.title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    padding: 27.5px 0;
}
.main__category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.food-img {
    display: inline-block;
    width: 353px;
    height: 100%;
}
.category {
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    padding: 9px 16px 5px;
    margin-top: 16px;
    max-width: 85px;
    max-height: 28px;
    background: #D9D9D9;
}

.main__ingredients {
    color: #FFFAFA;
    margin-bottom: 16px;
}
.ingredients-title, 
.instructions-title {
    text-align: center;
    color: #FFFAFA;
    font-size: 26px;
    font-weight: 600;
}
.ingredients-list {
    text-align: center;
    line-height: 150%;
    margin: 16px 0;
}
.list-item {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.instructions-text{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin: 16px 34.5px;
}

.footer {
    background: #D9D9D9;
}
.footer__logo {
    display: flex;
    justify-content: center;
}
.flogo {
    margin: 10px auto 24px;
    display: inline-block;
}
.footer__social {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item {
    padding: 0 16px;
    display: inline-block;
}